/* DEFINETELY SHOULD COME BACK AND MAKE SURE EACH CSS SELECTOR IS SPECIFIC TO THIS COMPONENT*/
/* ASK NIKOLE ABOUT HOW THESE COMPONENTS ARE SCOPED OR NOT SCOPED THIS ^^ MAY OR MAY NOT MATTER AFTER THE FACT */

.marquee-imgs__container {
	max-width: 100%;
  display: flex;
}
.marquee-imgs__wrapper {
  /*The goal of this is to have awesome margin around the logos*/
	justify-content: space-around;
	margin: 1.5rem auto;
  max-width: 100%;
  max-height: 200px;
}
.marquee-imgs__wraper:hover {
	animation-play-state: paused;
}
.slick-dots {
	list-style: none;
  padding-left: 0!important;
  display: flex!important;
  justify-content: center;
}
.slick-dots > li {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  border-radius: 50%;
  background: black;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
}
.slick-dots li > button {
	display: none;
}
.slick-dots .slick-active {
	background-color: #d16727;
}
.slick-slide img {
	margin: 0 auto;
}
.marquee-logo__column h5 {
	text-align: center;
}
.slick-arrow {
	position: relative;
	margin-top: 10%;
}
.slick-next {
	float: right;
}
.slick-prev {
	float: left;
  top: 80px;
}
.marquee-logo__column img {
	filter: grayscale(100%);
  transition: all 0.7s ease-in-out;
}
.marquee-logo__column img:hover {
	filter: grayscale(0%);
  transform: scaleX(1.1) scaleY(1.1);
}
